<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
     <div class="container-fluid">
         <a class="navbar-brand" routerLink="/">DIRECTORIO DE PACIENTES</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav ml-auto">
             <li class="nav-item">
               <a href="https://facodontologia.up.ac.pa/" class="nav-link" style="color:aliceblue">Página oficial</a>
             </li>
             <li class="nav-item">
              <a href="https://facodontologia.up.ac.pa/servicios" class="nav-link"  style="color:aliceblue">Servicios</a> 
               <!--<a class="nav-link" routerLink="/patients/add"  routerLinkActive="active"><i class= "fas fa-plus-circle"> </i> Añadir paciente</a>-->
             </li>
           </ul>
         </div>
       </div>
  </div>
   </nav>