
<div class="container">
    <div class="text-center">
        <p>esta es la pagina de bienvenida que separa a los estudiantes de los pacientes</p>
    </div>
    <div class="text-center">
        <button type="button" routerLink="/patients/add"  routerLinkActive="active" class="btn-flotante"><i class= "fas fa-plus-circle"> </i> Añadirme como paciente</button>
    </div>
    <div class="container-fluid">
        <div class="btn-group">
            <div class="container-fluid">
                <img src="https://images.unsplash.com/photo-1598531228433-d9f0cb960816?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" class="img-thumbnail rounded float-start" alt="">
                <button type="button" routerLink="/patients/add" routerLinkActive="active" class="btn btn-primary btn-block">Soy un Paciente</button>    
            </div>

            <div class="container-fluid">
                <img src="https://images.unsplash.com/photo-1567568423327-a42bf243e0da?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class=" img-thumbnail srounded float-end" alt="">

                <button type="button" routerLink="/practicant/login" routerLinkActive="active"  class="btn btn-primary btn-block">Soy Practicante</button>
            </div>
        </div>
    </div>
         
</div>
